:root {
	/* Color */
	--white-color: #fff;
	--black-color: #140a00;
	--blue-color: #045fd4;
	--red-color: #ff0000;
	--grey-dark-color: #909090;
	--grey-light-color: #e0e0e0;

	/* Size */
	--padding: 12px;
	--avatar-size: 50px;
	--icon-size: 20px;

	/* Weight */
	--font-bold: bold;

	/* Font Size */
	--font-large: 18px;
	--font-medium: 16px;
	--font-small: 14px;
	--font-micro: 12px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
}

button,
button:focus {
	border: none;
	cursor: pointer;
	outline: none;
	background-color: var(--white-color);
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	padding: var(--padding);
	background-color: var(--black-color);
	color: var(--white-color);
}

header .logo {
	font-size: var(--font-large);
}

header .logo i {
	color: var(--red-color);
}

header .icons .fa-search {
	margin-right: var(--padding);
}

/* Video Player */
.player {
	background-color: var(--black-color);
	text-align: center;
	position: sticky;
	top: 0;
}

.player video {
	width: 100%;
	height: 100%;
	max-width: 900px;
}

/* Video Information */
.info {
	padding: var(--padding);
}

.info .metadata .hashtags {
	display: flex;
	font-size: var(--font-medium);
	color: var(--blue-color);
}

.info .metadata .hashtags li {
	margin-right: var(--padding);
}

.info .metadata .titleAndButton {
	display: flex;
	padding-bottom: var(--padding);
}

.info .metadata .titleAndButton .title {
	font-size: var(--font-large);
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin-right: var(--padding);
}

.info .metadata .titleAndButton .moreBtn {
	height: 100%;
}

.info .views {
	font-size: var(--font-medium);
	color: var(--grey-dark-color);
}

/* Actions */
.action {
	display: flex;
	justify-content: space-around;
	margin: var(--padding) 0;
}

.action button {
	display: flex;
	flex-direction: column;
	font-size: var(--font-small);
	color: var(--grey-dark-color);
}

.action button:hover i {
	color: var(--blue-color);
}

.action button i {
	margin: 0 auto;
	margin-bottom: calc(var(--padding) / 2);
	font-size: var(--icon-size);
}

/* Channel Description */
.channel {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--grey-light-color);
	border-bottom: 1px solid var(--grey-light-color);
}

.channel .metadata {
	display: flex;
	align-items: center;
}

.channel .metadata img {
	width: var(--avatar-size);
	height: var(--avatar-size);
	border-radius: 50%;
}

.channel .metadata .info {
	display: flex;
	flex-direction: column;
}

.channel .metadata .name {
	font-size: var(--font-medium);
}

.channel .metadata .subscribers {
	font-size: var(--font-small);
	color: var(--grey-dark-color);
}

.channel .subscribe {
	color: var(--white-color);
	font-size: var(--font-small);
	font-weight: var(--font-bold);
	background-color: var(--red-color);
	margin: auto 0;
	padding: var(--padding);
	border-radius: 4px;
}

.channel .subscribe:hover {
	background-color: var(--grey-dark-color);
}
