:root {
	/* Color */
	--white-color: #fff;
	--black-color: #140a00;
	--blue-color: #045fd4;
	--blue-light-color: #03b6fc;
	--red-color: #ff0000;
	--grey-dark-color: #909090;
	--grey-light-color: #e0e0e0;

	/* Size */
	--padding: 12px;
	--avatar-size: 50px;
	--icon-size: 20px;

	/* Weight */
	--font-bold: bold;

	/* Font Size */
	--font-large: 18px;
	--font-medium: 16px;
	--font-small: 14px;
	--font-micro: 12px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
}

button,
button:focus {
	border: none;
	cursor: pointer;
	outline: none;
	background-color: var(--white-color);
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	padding: var(--padding);
	background-color: var(--black-color);
	color: var(--white-color);
}

header .logo {
	font-size: var(--font-large);
}

header .logo i {
	color: var(--red-color);
}

header .icons .fa-search {
	margin-right: var(--padding);
}

/* Video Player */
.player {
	background-color: var(--black-color);
	text-align: center;
	position: sticky;
	top: 0;
}

.player video {
	width: 100%;
	height: 100%;
	max-width: 900px;
	max-height: 380px;
}

/* Video Information */
.InformationAndUpNext section.info,
.channel .info {
	padding: var(--padding);
}

.info .metadata .hashtags {
	display: flex;
	font-size: var(--font-medium);
	color: var(--blue-color);
}

.info .metadata .hashtags li {
	margin-right: var(--padding);
}

.info .metadata .titleAndButton {
	display: flex;
	padding-bottom: var(--padding);
}

.info .metadata .titleAndButton .title {
	font-size: var(--font-large);
	margin-right: var(--padding);
}

.info .metadata .titleAndButton .title.clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
	height: 100%;
	transition: transform 380ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
	transform: rotate(180deg);
}

.info .views {
	font-size: var(--font-medium);
	color: var(--grey-dark-color);
}

/* Actions */
.action {
	display: flex;
	justify-content: space-around;
	margin: var(--padding) 0;
}

.action button {
	display: flex;
	flex-direction: column;
	font-size: var(--font-small);
	color: var(--grey-dark-color);
}

.action button:hover i {
	color: var(--blue-color);
}

.action button i {
	margin: 0 auto;
	margin-bottom: calc(var(--padding) / 2);
	font-size: var(--icon-size);
}

/* Channel Description */
.channel {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--grey-light-color);
	border-bottom: 1px solid var(--grey-light-color);
}

.channel .metadata {
	display: flex;
	align-items: center;
}

.channel .metadata img {
	width: var(--avatar-size);
	height: var(--avatar-size);
	border-radius: 50%;
}

.channel .metadata .info {
	display: flex;
	flex-direction: column;
}

.channel .metadata .name {
	font-size: var(--font-medium);
}

.channel .metadata .subscribers {
	font-size: var(--font-small);
	color: var(--grey-dark-color);
}

.channel .subscribe {
	color: var(--white-color);
	font-size: var(--font-small);
	font-weight: var(--font-bold);
	background-color: var(--red-color);
	margin: auto 0;
	padding: var(--padding);
	border-radius: 4px;
}

.channel .subscribe:hover {
	background-color: var(--grey-dark-color);
}

/* Comments */
.comments {
	margin: var(--padding) 0;
}

.commentsAndSort {
	display: flex;
	padding: var(--padding) 0;
	font-size: var(--font-large);
}

.commentsAndSort li {
	padding-right: calc(var(--padding) * 2);
}

.commentsAndSort li.sort {
	color: var(--grey-dark-color);
}

.input {
	margin: calc(var(--padding) * 2) 0;
}

.input .name {
	margin-right: calc(var(--padding) * 3);
	border-radius: 50%;
	background-color: var(--blue-light-color);
	color: var(--white-color);
	padding: var(--padding) calc(var(--padding) / 2);
}

.input .commentsInput input {
	border: none;
	outline: none;
	height: 20px;
	border-bottom: 1px solid var(--grey-dark-color);
	width: 300px;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	padding-right: var(--padding);
}

.resetBtn {
	margin-right: var(--padding);
	background-color: var(--white-color);
	border: none;
	outline: none;
	padding: var(--padding) calc(var(--padding) * 2);
	border-radius: 5px;
}

.resetBtn:hover {
	background-color: var(--grey-light-color);
}

.inputBtn {
	background-color: var(--grey-light-color);
	color: var(--white-color);
	border: none;
	outline: none;
	padding: var(--padding) calc(var(--padding) * 2);
	border-radius: 5px;
}

.inputBtn:hover {
	background-color: var(--blue-color);
}

/* upNext */
.upNext {
	padding: 0 var(--padding);
}

.upNext > .title {
	font-size: var(--font-medium);
	color: var(--grey-dark-color);
	margin-bottom: calc(var(--padding) / 2);
}

.upNext .item {
	display: flex;
	margin: var(--padding) 0;
}

.upNext .item .img {
	flex: 1 1 35%;
	margin-right: var(--padding);
}

.upNext .item .img img {
	width: 100%;
	height: 120px;
}

.upNext .item .info {
	flex: 1 1 60%;
}

.upNext .item .moreBtn {
	flex: 1 1 5%;
}

.upNext .item .info {
	display: flex;
	flex-direction: column;
}

.upNext .item .info .title {
	font-size: var(--font-small);
	padding-bottom: calc(var(--padding) / 2);
}

.upNext .item .info .name,
.upNext .item .info .views {
	font-size: var(--font-micro);
	color: var(--grey-dark-color);
}

.upNext button {
	height: 100%;
	margin-left: var(--padding);
}

.InformationAndUpNext {
	display: flex;
	flex-direction: column;
}

/* My Information */
.myInformation {
	display: flex;
	justify-content: space-around;
	padding: var(--padding);
	background-color: var(--black-color);
	color: var(--white-color);
}

.Hong {
	margin: var(--padding);
}

.myInformation li {
	padding: calc(var(--padding) / 2);
}

/* Media Query */
@media screen and (min-width: 768px) {
	.InformationAndUpNext {
		flex-direction: row;
		margin: var(--padding) 0;
	}
}
